$nav-bg-color: #2f2533;
$nav-hover-color: #201823;
$nav-text-color: white;
$nav-active-color: #007bff;
$nav-transition: 0.3s;

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $nav-bg-color;
  width: 70px;
  height: 150dvh;
  transition: width $nav-transition;
  overflow: hidden;

  top: 0;
  z-index: 99999;

  &.open {
    width: 250px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      cursor: pointer;
      transition: background-color $nav-transition;

      &:hover {
        background-color: $nav-hover-color;
      }

      a {
        display: flex;
        align-items: center;
        color: $nav-text-color;
        text-decoration: none;
        width: 100%;

        .icon {
          padding: 0.5rem;
          font-size: 24px;
          margin-right: 1rem;
          transition: margin-right $nav-transition;
        }

        .text {
          opacity: 0;
          transition: opacity $nav-transition;
        }

        .arrow {
          margin-left: auto;
          transition: transform $nav-transition;

          &.rotate {
            transform: rotate(90deg);
          }
        }
      }

      /* Submenú */
      ul {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;

        li {
          padding: 0.5rem 1rem;
          background-color: inherit;
          text-align: left;

          &:hover {
            background-color: $nav-hover-color;
          }

          a {
            width: 100%;
            text-align: left;
          }
        }
      }

      /* Mostrar el submenú al hacer clic */
      &.show-submenu {
        ul {
          display: block;
        }

        a .arrow {
          &.rotate {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  &.open ul li a .text {
    opacity: 1;
  }

  &.open ul li a .icon {
    margin-right: 1rem;
  }

  .hamburger-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 1rem;
    background-color: $nav-bg-color;
    border: none;
    outline: none;
    color: $nav-text-color;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: $nav-text-color;
      margin: 5px;
      transition: 0.4s;
    }
  }

  /* Logo */
  .logo {
    width: 100px;
    margin-right: 1rem;
    opacity: 0;
    transition: opacity $nav-transition;

    &.show-logo {
      opacity: 1;
    }
  }

  &.open .hamburger span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 4px);
  }

  &.open .hamburger span:nth-child(2) {
    opacity: 0;
  }

  &.open .hamburger span:nth-child(3) {
    transform: rotate(45deg) translate(-15px, -8px);
  }

  &.open .logo {
    opacity: 1;
  }
}

/* Responsive para pantallas más grandes */
@media (min-width: 768px) {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
  }
}
