<app-user-nav></app-user-nav>

<div class="text-center empresas--container">
  <div class="row align-items-start empresas--container--cards">
    <div class="col-12 col-md empresas--card">
      <h3 class="text-start">INFORMACIÓN DE LA EMPRESA</h3>
      <div class="container text-center mt-5">
        <h4>Nombre</h4>
        <p>Quipux S.A.S</p>
      </div>
      <div class="container text-center mt-1">
        <h4>Fecha de creación</h4>
        <p>1995/05/06</p>
      </div>
      <div class="container text-center mt-1">
        <h4>Dirección</h4>
        <p>
          Carrera 43A No. 3 Sur-130
          <br />
          Ed. Milla de Oro
          <br />
          Distrito de negocios Torre 1
          <br />
          Piso 12
        </p>
        <p class="mt-1">Medellín - Colombia</p>
      </div>

      <div class="container text-center mt-1">
        <h4>Número de teléfonos</h4>
        <p class="mt-1">
          Fijo
          <br />
          +57 (4) 313-70-00
          <br />
          Fax
          <br />
          +57 (4) 313-44-77
        </p>
      </div>
      <div class="container text-center mt-1">
        <h4>Sitio Web</h4>
        <a href="http://www.quipux.com/site">http://www.quipux.com/site</a>
      </div>
    </div>

    <div class="col-12 col-md empresas--card">
      <div class="row align-items-start text-start">
        <h3>INFORMACIÓN DEL CONTACTO</h3>

        <div class="col-12 col-md">
          <div class="container text-center mt-5">
            <h4>Dirección</h4>
            <p>
              Carrera 52 # 91-66
              <br />
              Medellín Colombia
            </p>
          </div>
          <div class="container text-center mt-1">
            <h4>Correo electrónico</h4>
            <p>usuarioapellido@hotmail.com</p>
          </div>
          <div class="container text-center mt-1">
            <h4>Sitio Web</h4>
            <a href="http://www.usuarioapellido.com"
              >http://www.usuarioapellido.com</a
            >
            <p class="mt-1">Medellín - Colombia</p>
          </div>

          <div class="container text-center mt-1">
            <h4>Red social</h4>
            <a href="http://www.instagram.com/usuarioapellido"
              >http://www.instagram.com/usuarioapellido</a
            >
            <br />
            <a href="http://www.linkeind.comm/usuarioapellido"
              >http://www.linkeind.comm/usuarioapellido</a
            >
          </div>
          <div class="container text-center mt-1">
            <h4>Sitio Web</h4>
            <a href="http://www.quipux.com/site">http://www.quipux.com/site</a>
          </div>
        </div>

        <div class="col-12 col-md card-rigth">
          <div class="container text-center mt-5">
            <h4>Dirección de correspondencia de correo</h4>
            <p>
              Carrera 52 # 91-66
              <br />
              Envigado Colombia
            </p>
          </div>
          <div class="container text-center mt-1">
            <h4>Número de teléfonos</h4>
            <p>
              Fijo
              <br />
              +57 (4) 313-70-00
              <br />
              Celular
              <br />
              (312) 313-44-77
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
